body {
  background-image: url(../img/pattern.jpg);
  margin: 0px;
}

header {
  background-color: burlywood;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

ul {
  list-style: none;
}

li {
  display: inline;
  margin-right: 20px;
  text-decoration: none;
}

a {
  text-decoration: none;
}

section {
  background-color: rgb(230, 171, 95);
  margin: 70px 120px 20px;
  padding: 20px;
}

h1,
h5 {
  text-align: center;
}

footer {
  background-color: burlywood;
  padding: 2px;
}

article {
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}
